@mixin btn-primary {
    padding: 1.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

@mixin btn-secondary {
    font-size: 0.9rem;
    padding: 0.4rem 0.7rem;
}

$color-main: #0052FF;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-main {
    @include btn-primary();
    background-color: $color-main;
    color: white;
    border: none;

    &:hover {
        background-color: #1652F0;
    }

    &-s {
        @extend .btn-main;
        @include btn-secondary();
    }
}

.btn-sec {
    @include btn-primary();
    background-color: transparent;
    color: black;
    border: none;

    &:hover {
        color: $color-main;
    }

    &-s {
        @extend .btn-sec;
        @include btn-secondary();
    }
}

.main-menu {
    margin-bottom: 0;
    li {
        font-size: 0.90rem;
        font-weight: bold;
        list-style: none;
        display: inline;
        padding: 0 1rem;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $color-main;
            }
        }
    }
}

.icon-sm {
    i {
        font-size: 3rem;
        color: $color-main;
        width: 4rem;
        height: 4rem;
        padding: 0.5rem 1rem;
        border-radius: 50%;
        box-shadow: 0 1rem 10px #00000010;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .icon {
        color: $color-main;
        font-size: 6rem;
    }

    .description {
        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .text {
            color: #888;
            font-weight: 600;
        }
    }

    .cta {
        color: $color-main;
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: 2rem;

        &:hover {
            cursor: pointer;
        }

    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .icon {
        padding: 0;
        color: $color-main;
        font-size: 5rem;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}